<div class="container mt-5">
    <h1 >PERSONAJE DETALLADO</h1>
    <div >
        <div class="card mt-3" style="width: 18rem;">
            <img src={{this.imagen}} class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">{{this.nombre}}</h5>
                <p class="card-text">estado del Personaje <br>
                    {{this.estado}}
                </p>
                <p class="card-text">Genero <br>
                    {{this.genero}}
                </p>
                <p class="card-text">Especie<br>
                    {{this.especie}}
                </p>

                <p class="card-text">Cread<br>
                    {{this.creado}}
                </p>
                <a href="/inicio" class="btn btn-primary">Ir a Inicio</a>
            </div>
        </div>
    </div>
</div>